<% layout('layouts/boilerplate') %> 
    <form action="/coffeeShops/<%=coffee._id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" name="coffeeShop[title]" id="title" value="<%=coffee.title %> ">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" name="coffeeShop[location]" id="location"value="<%=coffee.location %> ">
        </div>
        <button>Edit coffeeShop</button>
    </form>
    <a href="/coffeeShops/<%=coffee._id%>">Back to Shop</a>
