<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Coffee Shops</title>
</head>
<body>
    <form action="/coffeeShops" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" name="coffeeShop[title]" id="title">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" name="coffeeShop[location]" id="location">
        </div>
        <button>Add coffeeShop</button>
    </form>
    <a href="/coffeeShops">All Shops</a>
</body>
</html>