<% layout('layouts/boilerplate') %> 
    <h1><%= coffee.title %> </h1>
    <h1><%= coffee.location%> </h1>
    <p>
        <a href="/coffeeShops/<%=coffee._id%>/edit">Edit</a>
    </p>
    <p>
        <form action="/coffeeShops/<%=coffee._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
        </form>
    </p>
    <footer>
        
        <a href="/coffeeShops">Every Coffee Shop</a>
    </footer>
