<% layout('layouts/boilerplate') %>
<h1>Resister</h1>
<form action="/register" class="validated-form" method="POST" novalidate>
    <div class ="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" id="username" class="form-control" required>
    </div>
    <div class ="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" id="email" class="form-control" required>
    </div>
    <div class ="mb-3">
        <label for="password" class="form-label">Email</label>
        <input type="password" name="password" id="password" class="form-control" required>
    </div>
    <button class="btn btn-success">Register</button>
</form> 